.app-container {
  background: linear-gradient(180deg, #000400, #000800);
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.navbar {
  font-size: 1.1rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-btn {
  font-size: 1.5rem;
}

.btn{
  margin: 0 10px;
  padding: 10px 15px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.main-content {
  flex: 1;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.btn-success {
  font-size: 2.5em;
  font-weight: 600;
  padding: 25px 50px;
  background-color: #1db954;
  border-color: #1db954;
  color: #fff;
}

.btn-success:hover {
  background-color: #1ce662;
  border-color: #1ce662;
}

.dropdown-button{
  background: none;
  border: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.dropdown-button:hover{
  background: none;
  border: none;
}